.main {
  margin: 0 1rem;
  padding-top: 2rem;
}

.box__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-corben);
}

.description {
  text-align: center;
  font-style: italic;
}

.dashboard__link {
  padding: 0.75rem 1rem;
  font-weight: 800;
  background-color: var(--site-theme);
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.message__p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}

.loading__dots::after {
  content: "...";
  animation: dots 1s steps(3, end) infinite;
}

.dashboard__link:hover {
  background-color: hsl(0, 7%, 38%);
}

.submissions__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
