.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 6em;
  margin-top: 5.5em;
  border: 2px solid var(--HERO-BORDER-COLOR);
  background: var(--HERO-LINEAR-GRADIENT), url("/images/pexels-divinetechygirl-1181717.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero__wrapper {
  margin-top: 2em;
  width: 40ch;
}

.hero__title {
  text-transform: capitalize;
  font-size: 2.5rem;
  padding: 0.8em 0;
  /* transform: scale(1.2); */
}

.hero__body {
  line-height: 1.8;
}

.hero__link {
  margin: 2em 0 0 4em;
  display: inline-block;
  padding: 1em 1.2em;
  background-color: var(--HERO-BTN-BG-COLOR);
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px var(--HERO-BTN-SHADOW-COLOR));
  font-weight: 600;
  transition: background 300ms ease-in-out;
  cursor: pointer;
  border: none;
}

.hero__link:hover{
  background-color: var(--HERO-BTN-BG-COLOR-HOVER);
}