.main {
  margin: 0 1rem;
  padding-top: 2rem;
}

.box__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-corben);
}

.description {
  text-align: center;
  font-style: italic;
}

.submissions__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
}

.message__p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.loading__dots::after {
  content: "...";
  animation: dots 1s steps(3, end) infinite;
}
