.main {
  margin: 0 1rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-corben);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.button {
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: var(--site-theme);
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: hsl(0, 7%, 38%);
}

.textarea {
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  font-size: 1rem;
  background-color: #fff;
  color: #111;
  transition: border-color 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  height: 8rem;
}

.textarea:focus {
  border-color: var(--site-theme);
  outline: none;
}

@media only screen and (min-width: 768px) {
  /* Desktop mode */
  .create__box__container,
  .display__boxes__container {
    margin: 0 1em;
  }

  .textarea {
    height: 14rem;
  }
}
